
<p>
    <f:translate key="LLL:EXT:form_extended/Resources/Private/Language/locallang.xlf:doubleoptin.email.text" />
</p>
<p>
    <f:link.action pageUid="{validationPid}" extensionName="formextended" pluginName="doubleoptin" controller="DoubleOptIn" action="validation" absolute="1" arguments="{hash: optIn.validationHash}">
        {f:uri.action(pageUid: validationPid, extensionName: 'formextended', pluginName: 'doubleoptin', controller: 'DoubleOptIn', action: 'validation', absolute: 1, arguments: {hash: optIn.validationHash})}
    </f:link.action>
</p>
