<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:fe="http://typo3.org/ns/WapplerSystems/FormExtended/ViewHelpers" xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers" data-namespace-typo3-fluid="true">
<formvh:renderRenderable renderable="{element}">
    <f:render partial="Field/Field" arguments="{element: element}" contentAs="elementContent">
        <fe:form.uploadedResource
            property="{element.identifier}"
            as="resources"
            id="{element.uniqueIdentifier}"
            class="{element.properties.elementClassAttribute}"
            errorClass="{element.properties.elementErrorClassAttribute}"
            additionalAttributes="{formvh:translateElementProperty(element: element, property: 'fluidAdditionalAttributes')}"
            accept="{element.properties.allowedMimeTypes}"
            multiple="{f:if(condition:element.properties.multiple,then:'multiple')}"
        >
            <div class="multiupload-files">
                <f:if condition="{resources}">
                    <f:for as="resource" each="{resources}" iteration="iterator">
                        <span data-target="#{element.uniqueIdentifier}-file-reference-{iterator.index}" class="multiupload-file-block" id="{element.uniqueIdentifier}-preview-{iterator.index}">
                            <span class="multiupload-file-delete"><span>+</span></span>
                            <span class="name">{resource.originalResource.originalFile.name}</span>
                        </span>
                    </f:for>
                </f:if>
            </div>

            <div class="">
                <f:translate key="LLL:EXT:form_extended/Resources/Private/Language/locallang.xlf:maxFileSize" arguments="{0: '{element.properties.fluidAdditionalAttributes.data-max-filesize -> f:format.bytes()}'}" />
                <f:if condition="{element.properties.fluidAdditionalAttributes.data-max-filesize-per-file} > 0">
                    <f:translate key="LLL:EXT:form_extended/Resources/Private/Language/locallang.xlf:maxFileSizePerFile" arguments="{0: '{element.properties.fluidAdditionalAttributes.data-max-filesize-per-file -> f:format.bytes()}'}" />
                </f:if>
                <f:if condition="{element.properties.fluidAdditionalAttributes.data-max-files} > 0">
                    <f:translate key="LLL:EXT:form_extended/Resources/Private/Language/locallang.xlf:maxFiles" arguments="{0: element.properties.fluidAdditionalAttributes.data-max-files}" />
                </f:if>
            </div>
        </fe:form.uploadedResource>


        <f:if condition="{element.properties.multiple}">
            <f:asset.script identifier="form_extended-fileupload" src="EXT:form_extended/Resources/Public/JavaScript/Frontend/FileUpload.js" />
            <f:asset.css identifier="form_extended-fileupldad" href="EXT:form_extended/Resources/Public/CSS/FileUpload.css" />
        </f:if>

    </f:render>
</formvh:renderRenderable>
</html>
